@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}

.menu {
    display: flex;
    background: #328B17;
    padding: 20px;
    font-size: 40px;
    color: #7FC121;
    justify-content: center;
}

.separador::before {
    content: '|';
}

a {
    color: #fff;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration-color: rgba(0,0,0,0);
}

a:hover {
    text-decoration-color: #fff;
    transition: all 1200ms;
}

.slide-1 a:hover {
    text-decoration-color: #000;
}

.slide-1 {
    position: relative;
}

.texto {
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    left: 5%;
    background: #ff9900;
    color: #000;
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
}

.texto-bajada {
    padding: 65px;
    font-size: 40px;
}

.imagenes {
    text-align: center;
}

.imagenes h2 {
    color: #328B17;
    font-size: 50px;
}

.imagenes img {
    border: 2px solid #7FC121;
    margin: 20px;
    transition: all 200ms;
}

.imagenes img:hover {
    opacity: .5;
}

footer {
    color: #fff;
    padding: 20px;
    background: #328B17;
    text-align: center;
}

.nombres {
    margin-top: 20px;
}

form {
    background: #7FC121;
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

form h2 {
    color: #fff;
}

input, textarea {
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 60%;
    font-family: 'Nunito', sans-serif;;
}

.grupo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: #ff9900;
    font-size: 45px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

button:hover {
    background: #dd8807;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}

label {
    margin-right: 10px;
}


/**
 * 
 * Estilos "nuevos" de ejercicios
 * 
 **/

.menu {
    background: blue;
    color: lightblue;
}

footer {
    background: #000;
}

.texto-bajada {
    text-align: center;
}

/**
 * 
 * Medidas responsive
 * 
 *  */

/* Móvil */
@media only screen and (max-width: 640px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .separador {
        display: none;
    }

    button {
        width: 100%;
    }
}

/* Tablet */
@media only screen and (max-width: 1007px) {
    
}

/* Escritorio */
@media only screen and (min-width: 1008px) {
    html {
        width: 80%;
    }
}
